Assignment Code: DA-AG-014
Introduction to SQL and Advanced
Functions | Assignment
Instructions:Carefully read each question before attempting. Use Google Docs, Microsoft Word, or a similar tool to type out each theoretical question along with its answer. For practical questions, use SQL Workbench (or your designated SQL tool) to complete the required tasks. Once you have finished, save both the Word/Docs file and SQL File as PDF documents. Please ensure that you do not zip or archive the files before uploading. Submit the PDF files directly to the LMS or as instructed by your teacher. Each question carries 20 marks.
Total Marks: 200

Question 1 : Explain the fundamental differences between DDL, DML, and DQL
commands in SQL. Provide one example for each type of command.
Answer :DDL commands are used to define or modify the structure of the database objects (like tables, indexes, and schemas). They deal with the form of the database, not the data residing within it [1].
Purpose: To create, modify, and delete the database schema and objects.
Effect: Changes made by DDL commands are generally permanent and automatically committed to the database [1].
Key Commands: CREATE, ALTER, DROP, TRUNCATE, RENAME.
Example: Creating a new table named "Employees"

DML commands are used to manage the data stored within the database objects. They operate on the contents of the tables [1].
Purpose: To insert, update, or delete records in a table.
Effect: Changes can typically be rolled back (undone) using transaction control commands (COMMIT, ROLLBACK, SAVEPOINT) [1].
Key Commands: INSERT, UPDATE, DELETE, MERGE.
Example: Inserting a new record into the "Employees" table:

DQL commands are used to retrieve data from the database. While sometimes grouped under DML, DQL has the specific function of querying information without modifying it [1].
Purpose: To fetch data from one or more tables based on specified criteria.
Effect: Commands do not modify the database state and can be run without affecting data integrity.
Key Commands: SELECT.
Example: Retrieving the FirstName and LastName of all employees

Question 2 : What is the purpose of SQL constraints? Name and describe three common types of constraints, providing a simple scenario where each would be useful.
Answer :SQL constraints define rules to limit the data that can be placed into a table, ensuring the accuracy and reliability of the data in the database [3, 4]. They are used to enforce business logic and data integrity, preventing invalid data from being inserted, updated, or deleted.

1. NOT NULL
Description: Ensures that a column cannot have a NULL (empty) value [3, 4]. A value must always be provided for that specific field.
Scenario: In a Customers table, the Email column should be defined as NOT NULL. This ensures that every customer record includes a valid email address, which is essential for communication and account management.
2. UNIQUE
Description: Ensures that all values in a column are different [3, 4]. While multiple rows might be able to have NULL values (depending on the database system), no two non-null values can be the same.
Scenario: In an Employees table, the EmployeeID column would use the UNIQUE constraint. This prevents the accidental assignment of the same identification number to two different employees, which would cause critical data conflicts in payroll and HR systems.
3. FOREIGN KEY
Description: A FOREIGN KEY is a field (or collection of fields) in one table that refers to the PRIMARY KEY of another table [3, 4]. It creates a link between two tables, ensuring referential integrity, meaning that data cannot be inserted into the child table unless it matches an existing entry in the parent table.
Scenario: Consider two tables: Orders and Products. The Orders table has a ProductID column that is a FOREIGN KEY referencing the ProductID (the PRIMARY KEY) in the Products table. This prevents an order from being created for a non-existent product, maintaining consistency between the order records and the product inventory list.

Question 3 : Explain the difference between LIMIT and OFFSET clauses in SQL. How
would you use them together to retrieve the third page of results, assuming each page has 10 records?
Answer :he LIMIT and OFFSET clauses in SQL are used for managing how many rows a query returns and where in the result set the retrieval begins [1].
LIMIT: This clause specifies the maximum number of rows to return. It directly caps the total amount of data a query provides.
OFFSET: This clause specifies the number of rows to skip from the beginning of the result set before starting to return the rows. It is used to page through results by defining the starting point.
When used together, they enable robust pagination. The LIMIT defines the page size, and the OFFSET determines which page is currently being viewed.

Question 4 : What is a Common Table Expression (CTE) in SQL, and what are its main benefits? Provide a simple SQL example demonstrating its usage.
Answer :A Common Table Expression (CTE) is a temporary result set that you can reference within another SQL statement, such as a SELECT, INSERT, UPDATE, or DELETE statement [1]. It is similar to a derived table (subquery) but offers better readability and can be referenced multiple times within a single query [1, 2].
Main Benefits of Using a CTE
CTEs improve the clarity, organization, and maintainability of complex queries. Key benefits include:
Readability: CTEs break down complex queries into smaller, self-contained, readable blocks, making the logic easier to understand and debug [1, 2].
Reusability: A CTE can be referenced multiple times within the main query or subsequent CTEs, which avoids repeating the same logic or code [1].
Recursion: CTEs can reference themselves, allowing for recursive queries. This is essential for querying hierarchical data such as organizational charts or bill-of-materials structures [1, 2].
Organization: They help manage the scope of temporary data; unlike temporary tables, a CTE only exists for the duration of the single query execution [1].

Question 5 : Describe the concept of SQL Normalization and its primary goals. Briefly explain the first three normal forms (1NF, 2NF, 3NF).
Answer :SQL normalization is a systematic process for organizing a relational database to minimize redundancy and eliminate anomalies [1]. It achieves this by breaking down a large table into smaller, related tables and defining relationships between them. This structured approach helps ensure data integrity, makes the database schema more efficient, and improves data management capabilities [1].
Primary Goals of Normalization
The main objectives of SQL normalization are:
Minimize Data Redundancy: Avoid storing the same piece of information in multiple places, which saves storage space and prevents inconsistencies when data is updated [1].
Ensure Data Integrity: By reducing redundancy, normalization helps maintain the quality and accuracy of the data. Changes only need to be made in one place [1].
Eliminate Anomalies: Normalization helps prevent insertion, update, and deletion anomalies:
Insertion anomaly: Inability to add new data without having other, unrelated data [1].
Update anomaly: Needing to update the same information in multiple records, risking inconsistency if some updates are missed [1].
Deletion anomaly: Unintentionally deleting necessary data by deleting a record containing that data [1].
The First Three Normal Forms (1NF, 2NF, 3NF)
The normalization process is incremental, with each normal form building upon the previous one.
First Normal Form (1NF)
A table is in 1NF if every column contains atomic (indivisible) values, and there are no repeating groups of columns [1, 2].
Rule: Each cell must contain a single value, and all entries in a column must be of the same type [2].
Second Normal Form (2NF)
A table is in 2NF if it is in 1NF and all non-key attributes are fully dependent on the primary key [1, 2]. This form specifically addresses tables with a composite primary key (a key made of two or more columns).
Rule: Remove subsets of data that apply to multiple rows and place them in separate tables. The new tables are linked by a foreign key [2]. The non-key attributes cannot depend on only part of the primary key.
Third Normal Form (3NF)
A table is in 3NF if it is in 2NF and has no transitive dependencies [1, 2]. A transitive dependency occurs when a non-key attribute is dependent on another non-key attribute (which is, in turn, dependent on the primary key).
Rule: Eliminate fields that do not depend on the primary key. Any attribute that is not directly dependent on the primary key should be moved to a new table [2].

Question 6 : Create a database named ECommerceDB and perform the following
tasks:
1. Create the following tables with appropriate data types and constraints:
● Categories
○ CategoryID (INT, PRIMARY KEY)
○ CategoryName (VARCHAR(50), NOT NULL, UNIQUE)
● Products
○ ProductID (INT, PRIMARY KEY)
○ ProductName (VARCHAR(100), NOT NULL, UNIQUE)
○ CategoryID (INT, FOREIGN KEY → Categories)
○ Price (DECIMAL(10,2), NOT NULL)
○ StockQuantity (INT)
● Customers
○ CustomerID (INT, PRIMARY KEY)
○ CustomerName (VARCHAR(100), NOT NULL)
○ Email (VARCHAR(100), UNIQUE)
○ JoinDate (DATE)
● Orders
○ OrderID (INT, PRIMARY KEY)
○ CustomerID (INT, FOREIGN KEY → Customers)
○ OrderDate (DATE, NOT NULL)
○ TotalAmount (DECIMAL(10,2))
2. Insert the following records into each table
● Categories
CategoryID Category Name
1 Electronics
2 Books
3 Home Goods
4 Apparel
● Products
ProductID ProductName CategoryID Price StockQuantity
101 Laptop Pro 1 1200.00 50
102 SQL
Handbook
2 45.50 200
103 Smart Speaker 1 99.99 150
104 Coffee Maker 3 75.00 80
105 Novel : The
Great SQL
2 25.00 120
106 Wireless
Earbuds
1 150.00 100
107 Blender X 3 120.00 60
108 T-Shirt Casual 4 20.00 300
● Customers
CustomerID CustomerName Email Joining Date
1 Alice Wonderland alice@example.com 2023-01-10
2 Bob the Builder bob@example.com 2022-11-25
3 Charlie Chaplin charlie@example.com 2023-03-01
4 Diana Prince diana@example.com 2021-04-26
● Orders
OrderID CustomerID OrderDate TotalAmount
1001 1 2023-04-26 1245.50
1002 2 2023-10-12 99.99
1003 1 2023-07-01 145.00
1004 3 2023-01-14 150.00
1005 2 2023-09-24 120.00
1006 1 2023-06-19 20.00
Answer :

Question 7 : Generate a report showing CustomerName, Email, and the
TotalNumberofOrders for each customer. Include customers who have not placed
any orders, in which case their TotalNumberofOrders should be 0. Order the results by CustomerName.
Answer :

Question 8 : Retrieve Product Information with Category: Write a SQL query to
display the ProductName, Price, StockQuantity, and CategoryName for all
products. Order the results by CategoryName and then ProductName alphabetically.
Answer :

Question 9 : Write a SQL query that uses a Common Table Expression (CTE) and a
Window Function (specifically ROW_NUMBER() or RANK()) to display the
CategoryName, ProductName, and Price for the top 2 most expensive products in
each CategoryName.
Answer :

Question 10 : You are hired as a data analyst by Sakila Video Rentals, a global movie rental company. The management team is looking to improve decision-making by analyzing existing customer, rental, and inventory data. Using the Sakila database, answer the following business questions to support key strategic initiatives.
Tasks & Questions:
1. Identify the top 5 customers based on the total amount they’ve spent. Include customer
name, email, and total amount spent.
2. Which 3 movie categories have the highest rental counts? Display the category name
and number of times movies from that category were rented.
3. Calculate how many films are available at each store and how many of those have
never been rented.
4. Show the total revenue per month for the year 2023 to analyze business seasonality.
5. Identify customers who have rented more than 10 times in the last 6 months.
RvW SKILLS